

/****  floating-Lable style start ****/
.floating-label {
  position:relative;
  margin-bottom:2rem;
  padding-top: 3rem;
}
.floating-input {
	font-size:14px;
	display:block;
	width:100%;
	height:3rem;
	background-color: transparent;
	border:none;
	border-bottom:1px solid $line-color;

	&:focus {
		outline:none;
    border-bottom: 1px solid #5264AE;
	}

  &.area {
    border: 1px solid #5264AE;
    height:14rem;
    padding: .4em;
  }
}

.floating-form label {
  color:#999;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  top:3.1rem;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;

  &.area {
    padding-left: .5rem;
  }

}

.floating-input:focus ~ label,
.floating-input:not(:placeholder-shown) ~ label {
  top:1rem;
  font-size:1.1rem;
  color:$light-font-color;
}


/*----------------Alert Design-------------*/

.alert {
  background:#0ad1ff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  color: white;
  border-radius: 5px;

  &-danger {
    background:#ff4a5a;
  }
  & li {
    list-style-type: none;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:not(:first-child){
      border-top:1px solid $line-color;
    }
  }
}

              /*Error Boxes*/

.invalid-feedback{
  color: red;
}

/*.profile-img {
  border-radius: 50px;
}
.fileinput {
  display: none !important;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}*/
.profile-image{
  width: 5rem;
  height: 5rem;
  background-size: cover;
  border-radius: 50px;
}
.organization-form .multiselect {
  padding-top: 3rem;
  .option__desc, .option__image {
    display: inline-block;
    vertical-align: middle;
  }
  .option__image {
    max-height: 80px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #ddd;
  }
  .option__title {
    font-size: 14px;
  }
  .option__small {
    font-size: 12px;
    // margin-top: 0.75rem;
    display: block;
  }
}

.image-upload-field {
  position: relative;
  margin-bottom: 2rem;
  padding-top: 3rem;
}
.image-upload-wrapper {
  border: 1px solid #ddd;
}
.image-upload-label {
  top: 1rem;
  font-size: 1.1rem;
  color: #b3b5bf;
}
.image-upload-wrapper, .image-upload-wrapper img {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  display: block;
  cursor: pointer;
}
.image-upload-wrapper .image-upload-layover {
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  color: #fff;
  background-color: rgba(0,0,0,.7);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}
.image-upload-wrapper .image-upload-layover:hover {
  opacity: 0.8;
}
.image-upload-wrapper .image-upload-layover .text-center {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.imgclick {
  width: 100px;
  height: 100px;
  background-size: contain;
  border-radius: 50px;
}
label.imgclick {
  position: relative;
  display: block;
  cursor: pointer;
}
.fileinput {
  display: none !important;
}

/*Option customization*/
